<nav  class="navbar navbar-expand-sm bg-dark navbar-dark">
    <p class="navbar-brand" style="color: deepskyblue;">QR Attendance-APP </p>
    <ul class="navbar-nav">
        <li class="nav-item"><a  class="nav-link" routerLink="/AddPerson">Create Person</a></li> 
        <li class="nav-item"><a  class="nav-link" routerLink="/RegisterStdnt">View Students</a></li> 
        <li class="nav-item"><a  class="nav-link" routerLink="/RegisterProf">View Professors</a></li> 
        <li class="nav-item"><a  class="nav-link" routerLink="/EnrollStdnt">Enroll Student </a></li>
        <li class="nav-item"><a  class="nav-link" routerLink="/ProfInstructCourse">Assign Course </a></li>
        <li class="nav-item"><a  class="nav-link" routerLink="/AddSchedules">Add Schedules</a></li> 
        <li class="nav-item"><a  class="nav-link" routerLink="/AddCourse">Add Course</a></li> 
        <li class="nav-item"><a  class="nav-link" routerLink="/AddClass">Add Class</a></li> 
        <li class="nav-item"><a  class="nav-link" routerLink="/AddLevel">Add Level</a></li> 
      
    </ul>
  
</nav>

<router-outlet></router-outlet>

