<nav  class="navbar navbar-expand-sm bg-dark navbar-dark">
    <p class="navbar-brand" style="color: deepskyblue;">QR Attendance-APP </p>
    <ul class="navbar-nav">
        <li class="nav-item"><a  class="nav-link" routerLink="/professor">Generate QR</a></li> 
        <li class="nav-item"><a  class="nav-link" routerLink="/addGrades">Update Grades</a></li> 
        <li class="nav-item"><a  class="nav-link" routerLink="/generateEXCEL">Generate ExcelFile</a></li> 
    </ul>
  
</nav>

<router-outlet></router-outlet>

