<app-mainrouting-prof></app-mainrouting-prof>
    <table class="table table-striped">
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name </th>
        <th scope="col">Last Name </th>
         <th scope="col">Email </th>
        <th scope="col">Mobile </th>
         <th scope="col">Grade  </th>
    </tr>
    <tr  *ngFor="let Student of StudentList; index as i; first as isFirst" >
        <th scope="col">{{i+1}}</th>
        <td>{{Student.firstName}}</td>
        <td>{{Student.lastName}}</td>
        <td>{{Student.email}}</td>
        <td>{{Student.mobile}}</td>
        <td><input type="number" class="form-control" [name]="Student.idStudent"  [value]='Student.grade' [(ngModel)]="Student.grade"/></td>
    </tr>
</table>
<input type="button" class="btn btn-primary" value="SaveChanges" (click)="SaveChanges()"/>

